<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAJi_g2e5rsHtPmK5lGskb5mbTnyl-i2TQ</string>
	<key>GCM_SENDER_ID</key>
	<string>438264891857</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>net.jaram.hyuabot</string>
	<key>PROJECT_ID</key>
	<string>personal-sideprojects-release</string>
	<key>STORAGE_BUCKET</key>
	<string>personal-sideprojects-release.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:438264891857:ios:d120256a5c9cf7f8fa38f0</string>
</dict>
</plist>